@model knockoutCURD.Models.ProductSold

@{
    ViewBag.Title = "Create";
}


<div id="create-sale">
    <h2>Create</h2>

    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "create-sale-form", action = "javascript:void(0);" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ProductSold</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.ProductID, "ProductID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control", data_bind = "value: newSale.ProductName" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control", data_bind = "value: newSale.CustomerName" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StoreID, "StoreID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StoreID", null, htmlAttributes: new { @class = "form-control", data_bind = "value: newSale.StoreName" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateSold, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateSold, new { htmlAttributes = new { @class = "form-control", data_bind = "value: newSale.DateSold", type = "date", value = "2017-11-1", id = "date-picker" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" data-bind="click: saveSale" />
                </div>
            </div>
        </div>
    }

</div>
