@model knockoutCURD.Models.Store


@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "edit-store-form", action = "javascript:void(0);" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Store</h4>
    <hr />
    @Html.HiddenFor(model => model.StoreID, htmlAttributes: new { data_bind = "value: newStore.StoreID" })


    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", data_bind = "value: newStore.Name" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", data_bind = "value: newStore.Address" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" data-bind="click: editConfirmed" />
        </div>
    </div>
</div>
}



